<!DOCTYPE html>
<html>
  
  <body>
    <h1>Editing Book</h1>
    
    <form>
      <%= form_with model: @books, url: book_path(@books.id), method: :patch do |f| %>
      <div class="field">
        <label for="book_title">Title</label>
        <span class="book_title"><%= f.text_field :title %></span>
      </div>
  
      <div class="field">
        <label for="book_body">Body</label>
        <span class="book_body"><%= f.text_area :body %></span>
      </div>
  
      <div class="action">
        <span><%= f.submit 'Update Book' %></span>
      </div>
      <% end %>
  
    </form>
      <span><%= link_to "Show", book_path(@books.id) %></span>
       | 
      <span><%= link_to "Back", books_path %></span>
  </body>
</html>